.unity-text-element {
    /*-unity-font-definition: url("project://database/Assets/UI/FontTest/CAOOLI%20Dynamic.asset?fileID=11400000&guid=83e0821bc316d6344bf9521835d977c1&type=2#CAOOLI Dynamic");*/
    margin: 0;
    padding: 0; 
}

.dragger-element {
    position:  absolute;
    border-color: black;
    border-radius: 2px;
    border-width: 2px;
    width: 12px;
    height: 12px;
}