.grid-row {
    flex-direction: row;
    flex-grow: 1;
}

.lobby-container {
    flex-grow: 1;
}

.lobby-container .title-label {
    margin-bottom: 0;
}

.lobby-container .back-button-container {
    display: none;
}

.lobby-list {
    flex-grow: 1;
}

.lobby-list .grid-row {
    padding: 0 0 16px 0;
}

.lobby-list .grid-row > TemplateContainer {
    width: 440px;
    margin: 0 8px;
}
