.scroll-view-infinite {
    flex-grow: 1;
}

.examples-button-container-infinite-horizontal {
    width: 425px;
    height: 100%;
    margin: 0 4px 0 0;
}

.examples-button-container-infinite-vertical {
    width: 100%;
    height: 200px;
    margin: 0 0 4px 0;
}

.add-to-scroll-button {
    align-self: flex-start;
    margin: 0 0 8px 0;
}
