.spinner-container {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: row;
}

.spinner-example {
    border-color: var(--color-accent) var(--color-primary);
    border-width: 200px;
    border-radius: 250px;
    width: 500px;
    height: 500px;
}

.examples-button-container {
    align-items: flex-end;
    margin: 0 32px;
}

.examples-slider-container {
    position: absolute;
    left: 450px;
    right: 550px;
    bottom: 74px;
}
