.grid-row {
    flex-direction: row;
    flex-grow: 1;
}

.grid-list-view-example {
    flex-grow: 1;
}

.grid-list-view-example .grid-row {
    justify-content: space-between;
    align-items: center;
}

.grid-list-view-example .grid-row > TemplateContainer {
    height: 92px;
}

.grid-list-view-example .grid-row > TemplateContainer {
    width: 350px;
}
