.grid-list-view-example {
    flex-grow: 1;
}

.grid-row {
    height: 75px;
    padding: 0 0 8px 0;
}

.grid-row > TemplateContainer {
    width: 250px;
}

.last-grid-row {
    height: 67px;
    padding: 0;
}
