.radial-slider {
    align-self: center;
    top: 90px;
    width: 600px;
    height: 600px;
    --radial-background-color: var(--color-accent);
    --radial-fill-color: var(--color-primary);
    --radial-dragger-color: var(--color-secondary);
}

.radial-slider:hover {
    --radial-dragger-color: rgb(164, 94, 214);
}

.radial-slider:active {
    --radial-dragger-color: rgb(205, 139, 255);
}