.aspect-ratio-example {
    flex-grow: 1;
    margin-bottom: 20px;
}

.slider-horizontal {
    margin: 0 0 20px 0;
}

.slider-horizontal .unity-base-field__label {
    width: 125px;
}

.slider-vertical .unity-base-field__label {
    width: 125px;
}

#ExampleSlider2DContainer .back-button-container {
    display: none;
}
