.slider2d-example {
    background-color: var(--color-primary);
    flex-grow: 1;
    border-width: var(--border-width-example);
    border-radius: var(--border-radius-example);
    border-color: var(--color-background);
}

.slider2d-example > .slider2d-dragger-element {
    position:  absolute;
    border-color: var(--color-accent);
    border-width: 2px;
    border-radius: 18px;
    width: 24px;
    height: 24px;
}
