.container {
    justify-content: center;
    flex-grow: 1;
    width: 650px;
    align-self: center;
}

.scrollable-label {
    position: absolute;
    margin: 0;
    padding: 0;
}

.scrollable-label-container-example {
    overflow: hidden;
    background-color: var(--color-accent);
    border-radius: 4px;
    padding: 4px;
}

.scrollable-label-container-example > .scrollable-label {
    color: var(--color-background);
    font-size: 54px;
}
