.slider2d-example {
    background-color: var(--color-primary);
    border-color: var(--color-secondary);
    border-width: var(--border-width-example);
    border-radius: 14px;
    flex-grow: 1;
}

.slider2d-example > .slider2d-dragger-element {
    border-color: var(--color-accent);
    border-width: 4px;
    border-radius: 18px;
    width: 24px;
    height: 24px;
}

.slider2d-dragger-element {
    position: absolute;
}
